<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <form action="/create" method="post" class="space-y-5 p-20">

        <input class="w-full border px-10 py-5 rounded-lg outline-none" readonly  type="text"
             name="prevName" value=>
        <input class="w-full border px-10 py-5 rounded-lg outline-none" type="text"
            placeholder="Enter new name" name="newName">

        <input class=" border bg-blue-400 p-2 rounded-lg text-white" type="submit" value="Create Task">
    </form>
</body>

</html>