<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body class="w-full h-screen bg-black text-white p-10">
    <form action="/login" method="post" class="flex flex-col gap-y-4">
        <input class="border px-3 py-2 rounded-lg" type="email" placeholder="email" name="email">
        <input class="border px-3 py-2 rounded-lg" type="password" placeholder="password" name="password">
        <input  class="bg-blue-500 p-4 rounded-lg cursor-pointer" type="submit" value="Login">
    </form>
</body>

</html>