<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <a href="/read">Read users</a>
    <h1 class="text-orange-500">Create User</h1>
    <form action="/create" method="post" class="px-10">
        <input class="border w-40 " type="textx" placeholder="name" name="name"> <br><br>
        <input class="border w-40 " type="email" placeholder="email" name="email"> <br><br>
        <input class="border w-40 " type="text" placeholder="Image url" name="imageUrl"> <br><br>
        <input class="border w-40 " type="submit" value="Submit"> 
    </form>
</body>

</html>